name: Node.js CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: [master]

jobs:

  setup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - run: npm ci

      - name: Upload node_modules
        uses: actions/upload-artifact@v4
        with:
          name: deps
          path: node_modules/

  test-node:
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: deps
          path: node_modules/

      - run: npm test

  test-nestjs:
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: deps
          path: node_modules/

      - run: npm run test:nestjs
